<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Map Google address autocomplete API response to Hyva checkout fields -->
    <type name="Vendic\HyvaCheckoutGoogleAddressAutocomplete\ViewModel\FieldMapping">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="company" xsi:type="string">company</item>
                <item name="route" xsi:type="string">street.0</item>
                <item name="street_number" xsi:type="string">street.1</item>
                <item name="locality" xsi:type="string">city</item>
                <item name="postal_code" xsi:type="string">postcode</item>
                <item name="administrative_area_level_1" xsi:type="string">region</item>
                <item name="country" xsi:type="string">country_id</item>
            </argument>
        </arguments>
    </type>

    <!-- Google address auto complete works for the following inputs -->
    <type name="Vendic\HyvaCheckoutGoogleAddressAutocomplete\ViewModel\AutoCompleteSelectors">
        <arguments>
            <argument name="selectors" xsi:type="array">
                <item name="billing_street_0" xsi:type="string">input#shipping-street-0</item>
                <item name="shipping_street_0" xsi:type="string">input#billing-street-0</item>
                <item name="shipping_company" xsi:type="string">input#shipping-company</item>
                <item name="billing_company" xsi:type="string">input#billing-company</item>
            </argument>
        </arguments>
    </type>

    <type name="Hyva\Checkout\Model\Form\EntityField\EavEntityAddress\StreetAttributeField">
        <plugin name="vendic_hyva_checkout_google_address_autocomplete_required_housenumber_field"
                type="Vendic\HyvaCheckoutGoogleAddressAutocomplete\Plugin\RequiredHousenumberFieldPlugin"/>
    </type>

    <type name="Hyva\Checkout\Model\Form\AbstractEntityForm">
        <arguments>
            <argument name="entityFormModifiers" xsi:type="array">
                <item name="vendic_housenumber_validation" xsi:type="object">
                    Vendic\HyvaCheckoutGoogleAddressAutocomplete\Model\Form\Modifier\AddHousenumberFieldValidation
                </item>
            </argument>
        </arguments>
    </type>

</config>
